NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_URL_API=https://greenpure-backend.herokuapp.com
SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

FACEBOOK_ID=
FACEBOOK_SECRET=

CLIENT_SECRET=TR1WLNzk9sCPIDhVufE7L6vS2Yh5UTmYvARgpsA4bqynXuDDWmZYW3DNS5y3BfHSJz4yHa2jLkgnxmjyMXZE1yzlEs13JEYflBBGihqtxqbpCJXc3Mp32aQNrYVNWnAl
CLIENT_ID=yzrBA0gUiK0VyE5zvgCj3avXObfYIaNGSBDt7FlL
NEXT_PUBLIC_CLIENT_SECRET=TR1WLNzk9sCPIDhVufE7L6vS2Yh5UTmYvARgpsA4bqynXuDDWmZYW3DNS5y3BfHSJz4yHa2jLkgnxmjyMXZE1yzlEs13JEYflBBGihqtxqbpCJXc3Mp32aQNrYVNWnAl
NEXT_PUBLIC_CLIENT_ID=yzrBA0gUiK0VyE5zvgCj3avXObfYIaNGSBDt7FlL

JWT_SIGNING_PRIVATE_KEY={"kty":"oct","kid":"bwO3NuNEZszCh9TCjmTh8TymSTlSCq18a7m4cQcniHc","alg":"HS512","k":"-FuuZVHtyN2ejZZd_WUmGZ0E2lq0iSB492HNzXzn3Gc"}